# =========================
# AUTH0 Configuration
# =========================
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
FRONTEND_CLOUD_URL=http://localhost:3001/home
SUPABASE_JWT_SECRET=your-jwt-secret-key-here

# =========================
# Cloudinary Configuration
# =========================
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

# =========================
# Database Configuration (PostgreSQL)
# =========================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce
DB_USERNAME=postgres
DB_PASSWORD=your-database-password
PORT=3001

# =========================
# Email Configuration
# =========================

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_SECURE=false
EMAIL_FROM="Your App Name <your-email@gmail.com>"

# =========================
# Environment
# =========================
NODE_ENV=development


# =========================
# Redis Configuration (para Bull queues)
# =========================

REDIS_HOST=localhost
REDIS_PORT=tu-puerto-redis
REDIS_PASSWORD=tu-password-redis
REDIS_URL=redis://:password@localhost:6379


# =========================
# N8N Configuration
# =========================

N8N_WEBHOOK_URL=https://your-n8n-instance/webhook
N8N_TIMEOUT=30000
N8N_ENABLED=true
